%h3
  投稿する
= form_with model: @post, local: true do |f|
  .form-group
    = f.label :title
    = f.text_field :title
  .form-group
    = f.label :article
    = f.text_area :article, class:"materialize-textarea"
  .action
    %button{class: "btn waves-effect waves-light",type:"submit", name:"action"}<>
      投稿