!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlogApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      %h1.header__page_title<>
        = link_to posts_path, class: "header__page_title--link" do
          ブログ
      .header__user_nav
        - if user_signed_in?
          = link_to "/", class: "header__user_nav--link" do
            マイページ
          = link_to destroy_user_session_path, method: :delete, class: "header__user_nav--link" do
            ログアウト
        - else
          = link_to new_user_session_path, class: "header__user_nav--link" do
            ログイン
          = link_to new_user_registration_path, class: "header__user_nav--link" do
            新規登録
    .contents
      = yield
